<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">


<!--
开注解驱动，规定包中的注解，将表示的类加入到IOC
-->
    <context:component-scan base-package="com.qst" use-default-filters="false">
<!--        排除哪些注解?-->
<!--        type:排出方式-->
<!--        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>-->
    </context:component-scan>

<!--    <context:component-scan base-package="com.qst" use-default-filters="false">-->
<!--        &lt;!&ndash;        只扫描哪些注解?&ndash;&gt;-->
<!--        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
<!--    </context:component-scan>-->

</beans>