<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringDay01:war exploded">
    <output-path>$PROJECT_DIR$/SpringDay01/target/SpringDay01</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>SpringDay01</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringDay01" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/SpringDay01/target/SpringDay01/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="SpringDay01/web/Web" />
    </root>
  </artifact>
</component>